.card {
    height: 580px;
    width: 90vw;
    max-width: $width-mobile;
    margin: auto;
    border-radius: 10px;
    background-color: $color-text-quaternary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        display: block;
        width: 100%;
        height: 120%;
        object-fit: cover;

        &__container {
            height: 41%;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    
    &__content {
        padding: 13%;
        line-height: 1.5;
        height: 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__title {
        font-size: $font-size-large;
        margin-bottom: 1rem;
        color: $color-text-primary;
        font-weight: $font-weight-bold;
    }
    &__text {
        color: $color-text-secondary;
        line-height: 1.4rem;
        letter-spacing: .03rem;
        
    }

    &__author {
        height: 13%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 3%;
        display: none;

        &__info {
            margin-left: -18%;
        }

        &__image {
            width: auto;
            height: 60%;
            border-radius: 60%;
        }

        &__name {
            color: $color-text-primary;
            font-weight: $font-weight-bold;
            margin-bottom: .3rem;
        }

        &__date {
            color: $color-text-secondary;
        }

    }

}