// Colors
$color-text-primary: hsl(217, 19%, 35%);
$color-text-secondary: hsl(214, 17%, 51%);
$color-text-tertiary: hsl(212, 23%, 69%);
$color-text-quaternary: hsl(210, 46%, 95%);

// Font size
$font-size: 13px;
$font-size-large: $font-size * 1.3;
$font-size-very-large: $font-size * 1.5;

// Font weight
$font-weight: 500;
$font-weight-bold: 700;

// Width
$width-mobile: 375px;
$width-desktop: 1440px;

// Breakpoint
$breakpoint-large-min-width: 800px;